    html, body {font-family: "PT Sans", sans-serif; margin:0; padding:0;}
    body {font-size:120%; margin:0; padding:0;}

    header {
      display: block; 
      background: #343a5a no-repeat center top;
      background-size: 100%;
      color: white;
      text-align: center;
      padding: 1em;
      min-width: 24em;
      font-size: 160%;
    }
    
    h2 {font-size: 200%; z-index: 2}
    
    header h1 {margin: 4.5em 0 0.2em 0; font-size: 160%; }
    .logo {
      position: absolute; 
      top: 2em; 
      left: 2em;
      font-size: 70%; 
    }
    .logo a {color: white}
    .description {width: 24em; margin:0 auto;}
    
    .salt {width: 60%; min-width: 600px; margin:0 auto;}
    
    .iconed {
      position: relative;
      padding-left: 250px;
      margin:3em 0;
      min-height:200px;
    }
    
    .iconed h2 {margin-bottom:0.2em}
    .iconed ul {margin:0; padding:0}
    .iconed li {list-style-type:none; padding: .5em 0}
    
    .bigicon {
      display: inline-block; 
      position: absolute;
      left: 0px; 
      top: 30px;
      margin-right: 2em;
      font-size: 350%; 
    }
    
    .bigicon img {width:200px}
    
    .paper {
      width: 50%;
      margin: 0 auto;
      min-width: 600px;
      max-width: 900px;
      padding: 2em 3em 3em 4em;
      border: solid 1px #ccc; 
      box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    }
    
    .paper h2 {text-align:center}
    .paper ul {margin:0 0 0 1em; max-width: 500px}
    .paper li {padding: 0.2em;}
    
    .footer {font-size:160%; text-align:center; padding: 2em 2em 6em 2em}
    
    @media print {
      .no-print, .no-print *{
        display: none !important;
        height: 0;
      }
      
      .paper {
        border: none; 
        box-shadow: none;
        padding: 0;
      }
      
      .mindblock {page-break-inside: avoid;}
      
      .monitoring {
        height:100mm;
      }
      
      .monitor {
        width: 160mm;
      }
      
      .screen, #screen {width:145mm; height:80mm; top:28mm}
    }

    @page {
      margin: 25mm; 
    }

    